# API Keys
MEITY_API_KEY_VALUE=your_bhashini_api_key_here
LLM_PROVIDER=your_llm_provider_name_here
LLM_MODEL_NAME=your_llm_model_name_here
INFERENCE_ENDPOINT_URL=your_inference_endpoint_url_here
INFERENCE_API_KEY=your_inference_api_key_here
MAPBOX_API_TOKEN=your_mapbox_token_here
MARQO_ENDPOINT_URL=your_marqo_endpoint_url_here
MARQO_INDEX_NAME=your_marqo_index_name_here 
